<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lkcoffee.mapper.OrderMapper">
    <select id="pageQuery">
        select * from `order` where `status`=0
    </select>
    <update id="update">
        update `order`
        <set>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="riderId!=null">
                rider_id=#{riderId},
            </if>
            <if test="takeTime!=null">
                take_time=#{takeTime},
            </if>
        </set>
        where order_id=#{orderId}
    </update>
</mapper>
